extends layout

block content
  form(role='form', action='/search', method='get')
       .form-group
        input.form-control(type='text', id='Coockie_id', name='Coockie_id', placeholder='enter a Coockie_id')
       button.btn.btn-primary(type='submit') Submit
        
  p Result for #{coockie_id}
  p #{result}